.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
    margin-top: 10px;
    height: 90vh;
    width: 100vw;
    padding: 2rem;
    margin: 0 auto;
    /*background-color: rgb(56, 55, 55, 1);*/


}

body {

    margin: 0;
    overflow: hidden;

}

* {
    box-sizing: border-box;
    /* ulehci zivot */
}

.move {
    display: flex;

    border: 3px solid black;

    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    position: relative;
    border-radius: 15px;


}

.move img {
    content: "";
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 10px;
}

.sex {

    opacity: 0;
    bottom: 110px;
    z-index: 1;
    transition: opacity 1s, bottom 0.8s;
    position: relative;
    /* color: rgb(15, 12, 12, 0.88); */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;


}

@keyframes blik {
    0% {
        box-shadow: 0 0 0 3px rgba(255, 254, 254, 0);
    }

    50% {
        box-shadow: 0 0 0 3px rgba(255, 254, 254, 1);
    }

    100% {
        box-shadow: 0 0 0 3px rgba(255, 254, 254, 0);
    }
}

.move:focus {
    outline: none;
    animation-iteration-count: infinite;
    animation-name: blik;
    animation-duration: 1.4s;
}

.move:focus h1 {
    transition: opacity 1s, bottom 0.8s;
    z-index: 1;
    opacity: 0.90;

    bottom: 80px;
    position: relative;
}

.move:focus img {
    transition: opacity 0.6s;
    opacity: 0.68;
}

.move img {
    opacity: 1;
}

.hlavnidiv {
    aspect-ratio: 3/4;
    background-image: url("JPGS/BACKGROUND GOOD.png");
    background-size: cover;
}